body {
    margin: 0;
    background-color: #CBE86B;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

#week {
    font-size: 96px;
    text-align: center;
    display: block;
    background-color: #CBE86B;
    border: 0;
    border-bottom: 2px solid #000;
    width: 2em;
    margin: 1em auto 0 auto;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}

#week:focus {
    outline: 0;
    border: 2px solid #000;
}

#period {
    text-align: center;
    margin-top: 1em;
}